* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #f6d365, #fda085);
    background: #855AFD;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    background: #1C1A42;
    width: 45%;
    min-height: 50vh;
}
.wrapper h1 {
    font-size: 3rem;
}

form {
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.8rem;
    border: none;
    background: white;
}

form button {
    color: #855AFD;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #855AFD;
    color: white;
}
.todo-container {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}
.todo_list {
    min-width: 75%;
    list-style: none;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem;
    padding: 0.1rem;
    background: #855AFD;
    color: white;
    border-radius: 7px;
    overflow: hidden;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
.todo li {
    flex: 1;
    word-wrap: break-word;
    word-break: break-all;
}
.trash_btn, .complete_btn {
    background: #855AFD;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete_btn {
    background: #855AFD;
}
.todo_item {
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #1C1A42;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.select::after {
    content: "\25BC";
    position: absolute;
    background: #855AFD;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after {
    background: white;
    color: #855AFD;
}
@media (max-width: 1500px) {
    .wrapper {
        width: 55%;
    }
}
@media (max-width: 1225px) {
    .wrapper {
        width: 70%;
    }
}
@media (max-width:960px) {
    .wrapper {
        width: 90%;
    }
    form {
        align-content: center;
    }
}
@media (max-width: 750px) {
    .wrapper {
        padding: 2.5rem 1rem;
    }
    .wrapper h1 {
        text-align: center;
    }
    form input, form button  {
        font-size: 1.5rem;
    }
}
@media (max-width: 510px) {
    .todo_input {
        width: 85%;
    }
    .todo li {
        font-size: 1.2rem;
    }
    form {
        margin-left: 0rem;
    }
    .todo-container {
        margin: 0rem;
        width: 100%;
    }
    .wrapper {
       padding: 2.5rem 1rem;
    }
    
}
@media (max-width: 390px) {
    .todo li {
        font-size: 1rem;
    }
}
@media (max-width: 355px) {
    h1 {
        font-size: 1.9rem;
    }
    .todo li {
        font-size: 0.75rem;
    }
}
@media (max-width: 340px) {
    .wrapper {
        padding: 2.5rem 0.5rem;
     }
     
    
}

